include ../conf/conf

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      name="description" 
      content="super slider?"
    )
    meta(
      name="keywords" 
      content="super puper mega slider jquery"
    )
    title omega slider
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    link(
      rel="apple-touch-icon" 
      sizes="180x180" 
      href=require("../assets/favicons/apple-touch-icon.png")
    )
    link(
      rel="icon" 
      type="image/png" 
      sizes="32x32" 
      href=require("../assets/favicons/favicon-32x32.png")
    )
    link(
      rel="icon" 
      type="image/png" 
      sizes="16x16" 
      href=require("../assets/favicons/favicon-16x16.png")
    )
    link(
      rel="manifest" 
      href=require("../assets/favicons/site.webmanifest")
    )
    link(
      rel="mask-icon" 
      href=require("../assets/favicons/safari-pinned-tab.svg")
      color="#5bbad5"
    )
    meta(
      name="msapplication-TileColor" 
      content="#da532c"
    )
    meta(
      name="theme-color" 
      content="#ffffff"
    )

  body
    +conf
    +conf
    +conf
    +conf
